@import "strapless/colors/scss/colors";
@import "strapless/base/scss/base";
@import "bootstrap-shim";

$enable-framework: false !default;

// Strapless Variables
$component-light-color:           theme-color("primary") !default;
$component-light-hover-color:     darken($component-light-color, 15%) !default;
$component-light-active-color:    darken($component-light-color, 10%) !default;
$component-light-disabled-color:  rgba(gray("200"), .8) !default;
$component-light-bg:              color("white");
$icon-css-prefix:                 icon !default;

// Drawer Color Variables
$drawer-color:              gray("900") !default;
$drawer-header-bg-color:    rgba($black,.1) !default;
$drawer-footer-bg-color:    $drawer-header-bg-color !default;
$drawer-bg-color:           $component-light-bg !default;
$drawer-hover-color:        $black !default;
$drawer-active-color:       $component-light-active-color !default;
$drawer-disabled-color:     $component-light-disabled-color !default;
$drawer-item-heading-color: rgba($drawer-color,.7);
$drawer-backdrop-opacity:   $modal-backdrop-opacity !default;
$drawer-backdrop-bg:        $modal-backdrop-bg !default;

// Drawer Sizing Variables
$drawer-spacer-x:           .5rem !default;
$drawer-spacer-y:           .5rem !default;
$drawer-width:              230px !default;
$drawer-item-height:        2rem !default;

// Icon Variables
$drawer-icon-color:         rgba(gray("700"), .90) !default;
$drawer-icon-width:         16px !default;
$drawer-icon-height:        16px !default;
$drawer-icon-font-size:     16px !default;
$drawer-indicator-size:     8px !default;
$drawer-indicator-color:    rgba(#000,.5) !default;
$drawer-caret:              '<svg xmlns="http://www.w3.org/2000/svg" width="8" height="8" viewBox="0 0 8 8"><path fill="#{$drawer-indicator-color}" d="M0 0l4 4 4-4h-8z" transform="translate(0 2)" /></svg>' !default;
$drawer-chevron:            '<svg xmlns="http://www.w3.org/2000/svg" width="8" height="8" viewBox="0 0 8 8"><path fill="#{$drawer-indicator-color}" d="M4 0l-4 4 1.5 1.5 2.5-2.5 2.5 2.5 1.5-1.5-4-4z" transform="translate(0 1)" /></svg>' !default;

// Drawer-Variations
$drawer-default-position:     relative !default;
$drawer-default-zindex:       $zindex-navbar-fixed - 1 !default;

$drawer-temporary-position:   fixed !default;
$drawer-temporary-zindex:     $zindex-modal !default;

$drawer-persistent-position:  $drawer-default-position !default;
$drawer-persistent-zindex:    $drawer-default-zindex !default;

$drawer-permanent-position:   $drawer-default-position !default;
$drawer-permanent-zindex:     $drawer-default-zindex !default;