@import "strapless/colors/scss/colors";
@import "strapless/base/scss/base";

$enable-framework: false !default;

// Component Variables
$component-light-color:           theme-color("primary") !default;
$component-light-hover-color:     darken($component-light-color, 15%) !default;
$component-light-active-color:    darken($component-light-color, 10%) !default;
$component-light-disabled-color:  rgba(gray("200"), .8) !default;
$component-light-bg:              color("white");

// Drawer Variables
$drawer-color:              gray("900") !default;
$drawer-header-bg-color:    color("black",.1) !default;
$drawer-bg-color:           $component-light-bg !default;
$drawer-hover-color:        color("black") !default;
$drawer-active-color:       $component-light-active-color !default;
$drawer-disabled-color:     $component-light-disabled-color !default;
$drawer-width:              230px !default;
$drawer-spacer-x:           .5rem !default;
$drawer-spacer-y:           .5rem !default;

// Icon Variables
$drawer-icon-color:         rgba(gray("700"), .90) !default;